<div class="form-group">
  <label>Name</label>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <label>Email</label>
  <%= f.email_field :email, :class => "form-control" %>
</div>

<div class="form-group">
  <label>Role</label>
  <%= f.select :role, options_for_select(roles_available, :selected => @admin_admin_user[:role]),  {}, :class => "form-control" %>
</div>

<div class="form-group">
  <label>Avatar</label>
  <%= image_tag(@admin_admin_user.avatar.url(:thumb), :class => "img-thumbnail avatar-thumb" ) if @admin_admin_user.avatar? %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
</div>

<div class="form-group update-password-group">
  <label>Update Password</label>
  <%= check_box_tag :update_password, :class => "form-control" %>
</div>

<div class="form-group password-group">
  <label>Password</label>
  <%= f.password_field :password, :class => "form-control" %>
  <%= f.password_field :password_confirmation, :class => "form-control password-confirmation" %>
</div>
