<div class="panel panel-default admin-index post-index">
  <div class="panel-heading"><h2>Posts</h2></div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="narrow"><%= check_box_tag "all" %></th>
            <th>Title</th>
            <th>Slug</th>
            <th>Status</th>
            <th>Author</th>
            <th>Date</th>
            <th class="narrow"></th>
            <th class="narrow"></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= check_box_tag "post-#{post.id}" %></td>
              <td><%= post.title %></td>
              <td><%= post.slug %></td>
              <td><%= post.status.capitalize %></td>
              <td><%= post.admin_user.name %></td>
              <td><%= post.date.getlocal.strftime("%Y-%m-%d %l:%M %p %Z") %></td>
              <td><%= link_to 'Edit', edit_admin_post_path(post.id), :class => 'btn btn-default btn-xs' %></td>
              <td><%= button_to 'Delete', admin_post_path(post.id), {:method => :delete, :class => 'btn btn-danger btn-xs', :data => {:confirm => 'Are you sure you want to delete this post?'} } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Post', new_admin_post_path, {:class=>"btn btn-primary"} %>
  </div>
</div>
