<!DOCTYPE html>
<html>
<head>

<title>rcms: Admin</title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag :admin %>
<%= stylesheet_link_tag :admin_posts %>

<%= javascript_include_tag :admin %>
<%= javascript_include_tag :admin_posts %>

</head>


<body>

  <div class="container header">
    <h1>rcms: Admin</h1>
  </div>

  <!--
  <div class="container user">
    <pre><%= current_admin_user.to_yaml %></pre>
  </div>
  -->

  <div class="container">
  
    <% if alert %>
    <div class="alert alert-info"><%= alert %></div>
    <% end %>
    <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>

    <%= yield %>

  </div>

</body></html>
