<!DOCTYPE html>
<html>
<head>

<title>rcms: Admin</title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag("application") %>
<%= stylesheet_link_tag("posts") %>

<%= javascript_include_tag :application %>
<%= javascript_include_tag :posts %>

</head>


<body>

  <div class="container header">
    <h1>rcms: Admin</h1>
  </div>

  <div class="container"><%= yield %></div>

</body></html>
