<!DOCTYPE html>
<html>
<head>

<title>rcms: Admin</title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag("application") %>
<%= stylesheet_link_tag("posts") %>

<%= javascript_include_tag :application %>
<%= javascript_include_tag :posts %>

</head>


<body>

  <div class="container header">
    <h1>rcms: Admin</h1>
  </div>

  <!--
  <div class="container user">
    <pre><%= current_admin_user.to_yaml %></pre>
  </div>
  -->

  <div class="container">
  
    <div class="alert"><%= alert %></div>
    <div class="notice"><%= notice %></div>

    <%= yield %>

  </div>

</body></html>
